<html>
<head><title>Search Book Info</title></head>
<body bgcolor="lightgreen">
	<form action="search_book">
		<center><b>Enter the Book Title<br><br>
		Title <input type="text" name="title"><br><br>
		<input type="submit" value="submit">
		</b></center>
	</form>
</body>	
</html>