usn{
  font-family:'sans serif';
  color:orange;
  font-size:15pt;
}

name{
  font-family:'arial';
  color:red;
  font-size:15pt;
}

college{
  font-family:'Times New Roman';
  color:lime;
  font-size:15pt;
}

branch{
  font-family:'Comic Sans MS';
  color:gray;
  font-size:15pt;
}

year{
  font-family:'Century Gothic';
  color:blue;
  font-size:15pt;
}

email{
  font-family:'Georgia';
  color:green;
  font-size:15pt;
}
